{% extends "layout.html" %}
{% block content %}
<!-- Masthead-->
        <header class="masthead-education bg-white text-white text-center">
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image-->
                <!-- Masthead Heading-->
                <h1 class="masthead-heading bg-secondary text-uppercase mb-0 p-1 rounded">Education</h1>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-circle"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Masthead Subheading-->
                <p class="masthead-subheading bg-secondary font-weight-light mb-0 p-1 rounded">Summary of Education & Relevant Courses</p>
            </div>
        </header>

        <section class="page-section" id="#educationSummary">
            <div class="container">
            	<h1 class="page-section-heading-different text-center text-uppercase text-secondary mb-0"><u>Summary</u></h1>
                <ul>
            	<li class = "mt-5 li-big-size">
            		<span>
            			<h3>University of Calgary <span class="right-j">(2014-2018)</span></h3>
            			<h4><i>Bachelor of Science - Chemistry (with distinction)</i></h4>
            			<h4>GPA: 3.62 / 4.0</h4>
            		</span>
            	</li>
            	<li class = "mt-5 li-big-size">
            		<span>
            			<h3>University of British Columbia <span class="right-j">(2019-2023)</span></h3>
            			<h4><i>Bachelor of Applied Science - Computer Engineering</i></h4>
            			<h4>GPA: 86%</h4>
            		</span>
            	</li>
           	</div>
        </section>

        <section class="page-section">
            <div class="container">
            	<h1 class="page-section-heading-different text-center text-uppercase text-secondary mb-2"><u>Courses</u></h1>
            	<br>
            	<div class="container mt-4">
            		<h4 class="bottom-border-text" id="apsc160" id="#courses">APSC 160 - Introduction to Computation in Engineering Design</h4>
            		<p>Analysis and simulation, laboratory data acquisition and processing, measurement interfaces, engineering tools, computer systems organization, programming languages.</p>
            	</div>
            	<div class="container mt-4" id="chbe230">
            		<br>
            		<h4 class="bottom-border-text">CHBE 230 - Computational Methods</h4>
            		<p>Mathematical formulation of chemical and biological engineering problems; standard techniques of numerical analysis and their application to chemical, environmental and biotechnological systems; program development; use of commercial numerical analysis software.</p>
            	</div>
            	<div class="container mt-4" id="cpen211">
            	<br>
            		<h4 class="bottom-border-text">CPEN 211 - Introduction to Microcomputers</h4>
            		<p>Boolean algebra; combinational and sequential circuits; organization and operation of microcomputers, memory addressing modes, representation of information, instruction sets, machine and assembly language programming, systems programs, I/O structures, I/O interfacing and I/O programming, introduction to digital system design using microcomputers.</p>
            	</div>
            	<div class="container mt-4" id="cpen221">
            	<br>
            		<h4 class="bottom-border-text">CPEN 221 - Principles of Software Construction</h4>
            		<p>Design, implementation, reasoning about software systems: abstraction and specification of software, testing, verification, abstract data types, object-oriented design, type hierarchies, concurrent software design.</p>
            	</div>
            	<div class="container mt-4" id="cpen291">
            	<br>
            		<h4 class="bottom-border-text">CPEN 291 - Computer Engineering Design Studio I <span class="right-j"></span></h4>
            		<p>Design projects involving hardware (electronic devices and circuits, microcomputers) and software.</p>
            	</div>
            	<div class="container mt-4" id="cpen311">
					<br>
						<h4 class="bottom-border-text">CPEN 311 - Digital Systems Design (currently enrolled)<span class="right-j"></span></h4>
						<p>Advanced combinational and sequential electronic system design. Hardware specification, modelling, and simulation using hardware description languages (HDLs) and CAD tools. Design with programmable logic including FPGA's. Applications include complex state machines, microcontrollers, arithmetic circuits, and interface units.</p>
				</div>
            	<div class="container mt-4" id="cpen322">
					<br>
						<h4 class="bottom-border-text">CPEN 322 - Software Construction II (currently enrolled)<span class="right-j"></span></h4>
						<p>Contemporary concepts and techniques for developing interactive software applications: client-server architectures; session-oriented systems; security and scalability; models of application deployment.</p>
				</div>
            	<div class="container mt-4" id="cpen331">
					<br>
						<h4 class="bottom-border-text">CPEN 331 - Operating Systems (currently enrolled)<span class="right-j"></span></h4>
						<p>Operating systems, their design and their implementation. Process concurrency, synchronization, communication and scheduling. Device drivers, memory management, virtual memory, file systems, networking and security.</p>
				</div>
				<div class="container mt-4" id="cpen391">
					<br>
						<h4 class="bottom-border-text">CPEN 391 - Computer Engineering Design Studio II (currently enrolled)<span class="right-j"></span></h4>
						<p>Design and implementation of a hardware platform and software design and implementation at the operating system and application layers. Project management skills. Effective presentations.</p>
				</div>
            	<div class="container mt-4" id="cpsc221">
					<br>
						<h4 class="bottom-border-text">CPSC 221 - Basic Algorithms and Data Structures <span class="right-j"></span></h4>
						<p>Design and analysis of basic algorithms and data structures; algorithm analysis methods, searching and sorting algorithms, basic data structures, graphs and concurrency.</p>
					</div>
            	<div class="container mt-4" id="cpsc261">
            	<br>
            		<h4 class="bottom-border-text">CPSC 261 - Basics of Computer Systems <span class="right-j"></span></h4>
            		<p>Software architecture, operating systems, and I/O architectures. Relationships between application software, operating systems, and computing hardware; critical sections, deadlock avoidance, and performance; principles and operation of disks and networks.</p>
            	</div>
				<div class="container mt-4" id="cpsc314">
					<br>
						<h4 class="bottom-border-text">CPSC 314 - Computer Graphics (currently enrolled)<span class="right-j"></span></h4>
						<p>Human vision and colour; geometric transformations; algorithms for 2-D and 3-D graphics; hardware and system architectures; shading and lighting; animation.</p>
				</div>
				<div class="container mt-4" id="cpsc320">
					<br>
						<h4 class="bottom-border-text">CPSC 320 - Intermediate Algorithm Design and Analysis (currently enrolled)<span class="right-j"></span></h4>
						<p>Systematic study of basic concepts and techniques in the design and analysis of algorithms, illustrated from various problem areas. Topics include: models of computation; choice of data structures; graph-theoretic, algebraic, and text processing algorithms.</p>
				</div>
            	<div class="container mt-4" id="elec201">
            	<br>
            		<h4 class="bottom-border-text">ELEC 201 - Circuit Analysis I <span class="right-j"></span></h4>
            		<p>The fundamentals of analysis of lumped linear time-invariant circuits; network theorems; operational amplifiers; first order circuits; DC analysis of diodes, BJT, and FET circuits.</p>
            	</div>
            	<div class="container mt-4" id="elec331">
					<br>
						<h4 class="bottom-border-text">ELEC 331 - Computer Communications (currently enrolled)<span class="right-j"></span></h4>
						<p>Analysis, design and implementation of computer networks and their protocols. Application layer protocols, transmission control protocol (TCP), Internet protocol (IP), routing algorithms, reliable data transfer, multiple access, Ethernet.</p>
				</div>
            </div>
        </section>

{% endblock content %}