{% extends "layout.html" %}
{% block content %}
<!-- Masthead-->
        <header class="masthead-experience bg-white text-white text-center">
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image-->
                <!-- Masthead Heading-->
                <h1 class="masthead-heading bg-secondary text-uppercase mb-0 p-1 rounded">Technical Experience</h1>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-circle"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Masthead Subheading-->
                <p class="masthead-subheading bg-secondary font-weight-light mb-0 p-1 rounded">Work and Engineering Design Teams</p>
            </div>
        </header>

        <section class="page-section" id="#workSummary">
            <div class="container">
            	<h1 class="page-section-heading-different text-center text-uppercase text-secondary mb-2"><u>Technical Work Experience</u></h2>
            		<br><br>
					<span>
            			<h2 class="bottom-border-text">Software Developer - Castofly<span class="right-j">May 2021 - September 2021</span></h3>
						<div class="container">						
							<img src= "{{ url_for('static', filename='img/experience/castofly-transparent.png')}}" width = 600/>
						</div>
						<br><br>
            			<h4>Castofly is a video-creation software company that allows educators to easily create board-centric educational videos.</h4>
						<br>
            			<h4>Responsibilities:</h4>
            			<ul>
            				<li>Developed highly-requested features using Java, including animation in videos and canvas tools</li>
            				<li>Integrated third-party API's into our existing architecture, inlcuding the Tenor API that allows users to search and insert GIFS into their project</li>
            				<li>Developed a prototype front-end using React for the migration of the desktop application to the browser</li>
            				<li>Designed and deployed unit and end-to-end testing, leadint to the discovery and removal of critical bugs</li>
            			</ul>
            			<h4>Notable Projects:</h4>
            			<ul>
            				<li>Developed animation features in the Java desktop application, allowing users to include animations in their videos</li>
            				<li>Created a web-search handle for GIFs and images, allowing users to access third-party APIS and insert assets from the internet into their videos</li>
            			</ul>
            		</span>
					<br><br>
            		<span>
            			<h2 class="bottom-border-text">Power Analyst - Balancing Pool <span class="right-j">July 2019 - April 2021</span></h3>
						<div class="container">						
							<img src= "{{ url_for('static', filename='img/experience/AESO-Control-Centre.png')}}" width = 600/>
						</div>
						<br><br>
            			<h4>The Balancing Pool is an independent government agency that manages certain assets, liabilities, revenues and expenses arising from the transition to competition in Alberta's electric industry.</h4>
						<br>
            			<h4>Responsibilities:</h4>
            			<ul>
            				<li>Developed portfolio management models with Python, MATLAB and VBA to optimize profitability</li>
            				<li>Built fundamental supply and demand scenarios to forecast short term power prices</li>
            				<li>Collaborated with team members using Git and GitHub to effectively organize version control and collaboration</li>
            				<li>Perform statistical analysis on Alberta electricity supply/demand data</li>
            			</ul>
            			<h4>Notable Projects:</h4>
            			<ul>
            				<li>Implemented an incremental search global maxima finder for our offer control model, using MATLAB, Python and VBA</li>
            				<li>Automated data collection and processing for wind production using Selenium, to forecast real-time electricity demand and hourly pool prices</li>
            			</ul>
            		</span>
           	</div>
        </section>
        <section class="page-section" id="designTeams">
            <div class="container">
            	<h1 class="page-section-heading-different text-center text-uppercase text-secondary mb-0"><u>Engineering Design Teams</u></h2>
            		<br><br>
            		<span>
            			<h2 class="bottom-border-text">Team Member - UBC Envision <span class="right-j">September 2019 - May 2019</span></h2>
            			<p>Student engineering design team that aims to create an automated beer brewing system, based on the idea of 'The Internet of Things'. System has the ability to monitor and control process variables such as temperature, acidity, gravity in real-time </p>
            		    <h4>Responsibilities:</h4>
            			<ul>
            				<li>Develop a system to measure the control process variables in real time</li>
            				<li>Assist in brewing sessions</li>
            			</ul>
            			<h4>Notable Projects:</h4>
            			<ul>
            				<li>Collaborated with instrumentation design team members to create a Raspberry Pi powered system to collect temperature data</li>
            			</ul>
            		</span>
           	</div>
        </section>


{% endblock content %}