{% extends "layout.html" %}
{% block content %}
<!-- Masthead-->
        <header class="masthead-experience bg-white text-white text-center">
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image-->
                <!-- Masthead Heading-->
                <h1 class="masthead-heading bg-secondary text-uppercase mb-0 p-1 rounded">Technical Experience</h1>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-circle"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Masthead Subheading-->
                <p class="masthead-subheading bg-secondary font-weight-light mb-0 p-1 rounded">Work and Engineering Design Teams</p>
            </div>
        </header>

        <section class="page-section" id="#workSummary">
            <div class="container">
            	<h1 class="page-section-heading-different text-center text-uppercase text-secondary mb-2"><u>Technical Work Experience</u></h2>
            		<br><br>
            		<span>
            			<h2 class="bottom-border-text">Power Analyst - Balancing Pool <span class="right-j">July 2019 - Current</span></h3>
            			<p>The Balancing Pool is an independent government agency that manages certain assets, liabilities, revenues and expenses arising from the transition to competition in Alberta's electric industry.</p>
            			<h4>Responsibilities:</h4>
            			<ul>
            				<li>Build fundamental supply and demand scenarios to forecast short term hourly power prices</li>
            				<li>Responsible for trading ancillary services and hourly offers into alberta electricity market</li>
            				<li>Maintain and upgrade existing optimization and offer control models</li>
            				<li>Perform statistical analysis on Alberta electricity supply/demand data</li>
            			</ul>
            			<h4>Notable Projects:</h4>
            			<ul>
            				<li>Implemented an incremental search global maxima finder for our offer control model, using MATLAB and Visual Basic for Applications</li>
            				<li>Automated data collection and processing for wind production, real-time electricity demand and hourly pool prices</li>
            			</ul>
            		</span>
           	</div>
        </section>
        <section class="page-section" id="designTeams">
            <div class="container">
            	<h1 class="page-section-heading-different text-center text-uppercase text-secondary mb-0"><u>Engineering Design Teams</u></h2>
            		<br><br>
            		<span>
            			<h2 class="bottom-border-text">Team Member - UBC Envision <span class="right-j">September 2019 - May 2019</span></h2>
            			<p>Student engineering design team that aims to create an automated beer brewing system, based on the idea of 'The Internet of Things'. System has the ability to monitor and control process variables such as temperature, acidity, gravity in real-time </p>
            		    <h4>Responsibilities:</h4>
            			<ul>
            				<li>Develop a system to measure the control process variables in real time</li>
            				<li>Assist in brewing sessions</li>
            			</ul>
            			<h4>Notable Projects:</h4>
            			<ul>
            				<li>Collaborated with instrumentation design team members to create a Raspberry Pi powered system to collect temperature data</li>
            			</ul>
            		</span>
           	</div>
        </section>


{% endblock content %}