{% extends "layout.html" %}
{% block content %}

<!-- Masthead-->
        <header class="masthead-projects bg-white text-white text-center">
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image-->
                <!-- Masthead Heading-->
                <h1 class="masthead-heading bg-secondary text-uppercase mb-0 p-1 rounded">PROJECTS</h1>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-circle"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Masthead Subheading-->
                <p class="masthead-subheading bg-secondary font-weight-light mb-0 p-1 rounded">Personal and Academic Projects</p>
            </div>
        </header>

		<section class="page-section" id="trailblaze">
            <div class="container">
                    <br><br>
                    <span>
                        <h2 class="bottom-border-text">TrailBlaze<span class="right-j">April 2021</span></h3>
                        <h4>Description:</h4>
                            <p>Trailblaze is a Tinder-style mobile application created to connect hikers with the best views offered by British Columbian trails. It combines two machine learning models to recommend hikes tailored to the user’s preferences. The first model, an embedding-based recommender system, is used to generate a list of hikes similar to the user’s previously liked hikes; the second model, an image classifier, is used to identify visual features in liked images, and recommend hikes which contain similar features. These two models are connected behind the scenes to a mobile app, so the user can find new hikes from wherever they are. The combination of powerful machine learning and the convenience of a mobile application make Trailblaze the ideal tool to help hikers on the move find their next destination.</p>
                        <h4>Technology used:</h4>
                        <ul>
                            <li>Mobile application built in Dart, utilizing Flutter framework</li>
                            <li>Backend is a Flask API that communicates with a recommender machine learning model, built with PyTorch</li>
                        </ul>
                    <div class="text-center">
                        <a class="btn-lg btn-outline btn-social mx-1" href="https://github.com/taylormcouat/trailblaze"><i class="fab fa-fw fa-github"></i></a>
                    </div>
                    </span>
                    <div class="container">
                        <video controls>
                            <source src="{{ url_for('static', filename='vid/trailblaze-demo.mp4') }}">
                                Sorry, your browser doesnt support embedded videos.
                        </video>
                    </div>
            </div>
        </section>

        <section class="page-section" id="portfolioProject">
            <div class="container">
            		<br><br>
            		<span>
            			<h2 class="bottom-border-text">Portfolio Website Project <span class="right-j">January 2021</span></h3>
            			<h4>Description:</h4>
            				<p>Interactive website that contains my technical and academic experience along with a showcase of my personal and academic projects.</p>
            			<h4>Technology used:</h4>
            			<ul>
            				<li>Back-end of website written in Python, utilizing the Flask web framework</li>
            				<li>Front-end of website written in HTML, CSS, and Javascript. Utilizes pre-made bootstrap packages</li>
            				<li>Website deployed on a remote linux server managed by Linode</li>
            			</ul>
            		<div class="text-center">
                        <a class="btn-lg btn-outline btn-social mx-1" href="https://github.com/taylormcouat/portfolio"><i class="fab fa-fw fa-github"></i></a>
                    </div>
            		</span>
            		<div class="container">
						<img src= "{{ url_for('static', filename='img/projects/portfolioproject/html_code.png')}}">
						<img src= "{{ url_for('static', filename='img/projects/portfolioproject/python_code.png')}}">
					</div>
           	</div>
        </section>

        <section class="page-section" id="blackjackProject">
            <div class="container">
                    <br><br>
                    <span>
                        <h2 class="bottom-border-text">Blackjack Game<span class="right-j">January 2020</span></h3>
                        <h4>Description:</h4>
                            <p>Blackjack game application that allows users to face off against a dealer and make bets.</p>
                        <h4>Technology used:</h4>
                        <ul>
                            <li>Application was built using Python.</li>
                            <li>Tkinter GUI and PIL video editing packages were used to create interface.</li>
                        </ul>
                    <div class="text-center">
                        <a class="btn-lg btn-outline btn-social mx-1" href="https://github.com/taylormcouat/Blackjack-App"><i class="fab fa-fw fa-github"></i></a>
                    </div>
                    </span>
                    <div class="container">
                        <video controls>
                            <source src="{{ url_for('static', filename='vid/blackjack-game-demo.mp4') }}">
                                Sorry, your browser doesnt support embedded videos.
                        </video>
                    </div>
            </div>
        </section>
        <section class="page-section" id="cpen211Project">
            <div class="container">
            		<span>
            			<h2 class="bottom-border-text">Simple RISC Machine<span class="right-j">December 2020</span></h3>
            			<h4>Description:</h4>
            				<p>"Reduced Instruction Set Computer" deployed on the Arm Cyclone V processor. Capable of basic ARM instructions, such as MOV, AND, CMP and more advanced conditional branching processes. Supports communication with connected I/O devices.</p>
            			<h4>Technology used:</h4>
            			<ul>
            				<li>The RISC was developed using Verilog, compiled on Quartus.</li>
            				<li>Test benches were developed using ModelSim to simulate verilog waveforms</li>
            				<li>The simple RISC machine was hosted on the DE1-SoC FPGA</li>
            			</ul>
            		</span>
            		<div class="container">
						<img src= "{{ url_for('static', filename='img/projects/De1-SoC/fpga.jpg')}}">
					</div>
           	</div>
        </section>
{% endblock content %}
